<!--Footer-->
<footer class="footer">
    <div class="copyright container text-center">
        <p>
            Copyright &copy; @DateTime.Now.Year ETC Task | by <a href="http://nasraldin.com" target="_blank">Nasr Aldin</a>
        </p>
    </div>
</footer>
<!-- End footer-->