<div id="Modal" class="modal fade in" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 700px;">
            <div id="ModalContent"></div>
        </div>
    </div>
</div>